<div *ngIf="!onready" class="spinner-border" role="status">
  <span class="sr-only">Loading...</span>
</div>

<div *ngIf="onready && displayedRss">
  <div class=" bd-highlight m-4 d-flex flex-row flex-wrap my-flex-container">
    <div *ngFor="let entry of displayedRss">
      <div *ngFor="let entry2 of entry.items" class="rssCont m-2 bd-highlight  d-inline-block">
        <div id="feedTopPanel" class="p-3">
          <p id="feedSrc" class="d-inline">{{entry.feed.title}} </p>
          <p id="feedDate" class="d-inline float-right mt-1">{{entry2.pubDate | date:'MMM-dd-yyyy | HH:mm'}}</p>
        </div>
        <img src="{{entry2.enclosure.link}}">
        <a href="{{entry2.link}}" target="_blank" class="pr-4 pl-4 mt-2" id="feedTitle">{{entry2.title}}</a>
        <p id="feedDesc" class="pr-4 pl-4 font-weight-bold">{{entry2.description.substring(entry2.description.lastIndexOf(">")+1)}}</p>
      </div>
    </div>
  </div>
</div>
